body {
  background: rgb(202, 202, 202);
}

.container {
  background: rgb(236, 226, 226);
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
<<<<<<< HEAD
  
=======
  height: 240px;
  /* width: 800px; */
  /* position: fixed; */
  /* top: 20px; */
  /* left: 20%; */
  /* margin: 0 auto; */

}
.btn {
  background: rgb(247, 246, 246);
  color: rgb(109, 107, 107);
  width: 600px;
  margin:  auto;
  cursor: pointer;
  user-select: none;
  box-shadow: 5px 8px 10px 0px rgb(163, 163, 163);
  border-radius: 8px;
>>>>>>> origin/master
}

#target {
  font-size: 48px;
  letter-spacing: 3px;
  background: skyblue;
}

.info {
<<<<<<< HEAD
  color: #ccc;
  background: slategray;
=======
  color: rgb(175, 175, 175);
}

section {
 color: rgb(109, 107, 107);;
}
section h1 {
  font-weight: normal;
  text-align: center;
  padding-bottom: 60px;
  /* padding-top: 400px; */
}

section ol {
  text-align: center;
  list-style-position: inside;
}

li {
  padding-bottom: 80px;
>>>>>>> origin/master
}