
header {
  height: 100px;
  /* background-color: pink; */
  /* background-image: url(../img/header.png); */
  /* background-size: cover; */
  /* background-position: center; */
  background: center/cover pink url(../img/header.png);
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: 1; */
  /* box-shadow: 10px 5px 5px 10px  rgb(146, 113, 113) */
}
.box2 {
  box-sizing: border-box;
  background-color: rgba(116, 216, 230, 0.5);
  width: 940px;
  height: 300px;
  position: fixed;
  top: 30px;
  left: 30px;
  border: 8px solid rgb(197, 197, 197);
  z-index: 3;
  margin: 0 auto;
  box-shadow: 15px 10px 5px  rgba(116, 136, 158, 0.8)
}
.box3 {
  background-color: gray;
  width: 100px;
  height: 500px;
  z-index: 2;
  margin-left: auto;
}